<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Consumos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container" [fullscreen]="true" [scrollEvents] ="true" >
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="bubbles"
    refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>
<form (ngSubmit)="Seacrh()" [formGroup]="ConnectionOneConsumptionsForm">
  <ion-grid fixed="true" class="intro">
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label>Seleccionar Dispositivo</ion-label>
          <ion-item lines="none">
            <ion-select  formControlName="Devices"  multiple="true" placeholder="Seleccione" [(ngModel)]="this.connectionSelect" (ionChange)="onChange($event)">
              <ion-select-option *ngFor="let item of this.ConnectionConsumptionsModel.Devices" [value]="item.name">{{item.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label>Fecha Inicial</ion-label>
          <ion-item lines="none">
            <ion-datetime formControlName="StartDate" [(ngModel)]="this.ConnectionConsumptionsModel.StartDate" pickerFormat="MMM YYYY" 
            displayFormat="MMM YYYY" placeholder="Month"></ion-datetime>
          </ion-item>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label>Fecha Final</ion-label>
          <ion-item lines="none">
            <ion-datetime formControlName="FinalDate" [(ngModel)]="this.ConnectionConsumptionsModel.FinalDate" placeholder="Month"
            pickerFormat="MMM YYYY" 
            displayFormat="MMM YYYY"></ion-datetime>
          </ion-item>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label>Tipo de Grafico</ion-label>
          <ion-item lines="none">
            <ion-select formControlName="GraphType" [(ngModel)]="this.ConnectionConsumptionsModel.GraphType" multiple="false" placeholder="Seleccione">
              <ion-select-option *ngFor="let item of this.AvailableCharts" [value]="item.name">{{item.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label>Criterio de Busqueda</ion-label>
          <ion-item lines="none">
            <ion-select formControlName="SearchCriteria" [(ngModel)]="this.ConnectionConsumptionsModel.SearchCriteria" multiple="false" placeholder="Seleccione">
              <ion-select-option *ngFor="let item of this.AvailableCriteria" [value]="item.name">{{item.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
        <ion-button color="secondary"  [disabled]="ConnectionOneConsumptionsForm.invalid" (click)="Seacrh()">
          <ion-icon slot="start" name="search-outline"></ion-icon>
          Buscar
        </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>  
</form>

<ion-card *ngIf="this.showCard" class="card" fixed="true">
  <ion-card-header>
    <ion-card-subtitle>Resumen</ion-card-subtitle>
    <!-- <ion-card-title>Nombre Dispositivo</ion-card-title> -->
  </ion-card-header>
  <ion-card-content>
    <ion-grid fixed ="true">
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-icon name="bulb-outline"></ion-icon>
            <ion-label>{{this.totalWatts.toPrecision(3)}}W</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-icon name="bulb-outline"></ion-icon>
            <ion-label>{{this.totalAmps.toPrecision(3)}}A</ion-label>
          </ion-item>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none" class="ion-align-self-center">
              <canvas #barchart>
              </canvas>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="this.arrayModel.length == 1">
        <ion-col size="12" class="ion-align-self-center">
          <span>Resumen de Grafico</span>
        </ion-col>
        <ion-col size="12" class="ion-align-self-center">
          <ion-item lines="none">
            <p>
              El dispositivo <strong>{{this.deviceResume.connectionName}}</strong>, en horas del dia comsume un aproximado de {{this.deviceResume.dayConsumption.Day.watts}}w
              En horas de la Noche (9:00PM-6:00AM) se comsume un promedio de {{this.deviceResume.nightConsumption.Night.watts}}w
            </p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="this.arrayModel.length>1">
        <ion-col size="12">
          <ion-item>
            <p>
              Los Dispositivos Analizados <strong>{{this.devicesList}}</strong>, en horas del dia, consumen en promedio 
            </p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

</ion-content>
