<ion-header>
  <ion-toolbar>
    <ion-title>Seleccionar rango de fechas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content   class="container ion-padding"
[fullscreen]="false"
[scrollEvents]="true">
<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-item transparent>
        <img icon-small src="../../../../assets/icon/calendar.png" alt=""/>
        <ion-datetime placeholder="Inicio" [(ngModel)]="initialDate"  display-format="DD.MM.YYYY HH:mm"></ion-datetime>
        </ion-item>
    </ion-col>
   
  </ion-row>
  <!--second date-->
  <ion-row>
    <ion-col size="12">
      <ion-item transparent>
        <img icon-small src="../../../../assets/icon/calendar.png" alt=""/>
        <ion-datetime placeholder="Final" [(ngModel)]="finalDate"  display-format="DD.MM.YYYY HH:mm"></ion-datetime>
        </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button color="tertiary"  class="ion-button-class" shape="round" fill="solid" size="large" expand="block" type="submit" >
        <ion-label class="ion-text-center"><h1>Buscar</h1></ion-label> 
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
