<ion-header>
  <ion-toolbar color="primary" class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Predecir Consumo Proximo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" [scrollEvents] ="true">
 <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
   <ion-refresher-content
     pullingIcon="arrow-dropdown"
     pullingText="Pull to refresh"
     refreshingSpinner="bubbles"
     refreshingText="Refreshing...">
   </ion-refresher-content>
 </ion-refresher>
 <ion-grid fixed>
   <!--First Row-->
   <ion-row>
     <ion-col size="12">
      <ion-card *ngIf="true" class="card" fixed="true">
        <ion-card-header>
          <ion-card-subtitle>Resumen</ion-card-subtitle>
          <ion-card-title>Nombre Dispositivo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid fixed ="true">
            <ion-row>
              <ion-col size="12">
                <ion-item lines="none" class="ion-align-self-center">
                  <div id="lossChart" style="width: 300px">
      
                  </div>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item lines="none" class="ion-align-self-center">
                    <div id="accuracyChart" style="width: 300px">
      
                    </div>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
     </ion-col>
   </ion-row>
 </ion-grid>

</ion-content>
