<ion-toolbar color="light" class="ion-no-border">
  
  <ion-title>Inicio</ion-title>
  <ion-buttons slot="end">
    <ion-button color="danger" (click)="singOut()">
      Cerrar Sesión
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content class="ion-padding" [fullscreen]="true">
  <div class="center2">
    <div heading-column-lr>
      <h1 big-heading>{{now | date:'EEEE dd MMMM yyyy':'ES' }}</h1>
    </div>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="ion-padding">
    

    <ion-card>
      <ion-card-header>
        Consumo del día
      </ion-card-header>
      <ion-card-content>
        <ngx-gauge [type]="gaugeType" 
           [value]="gaugeValue" 
           [label]="gaugeLabel"  
           [append]="gaugeAppendText">
          </ngx-gauge>
      </ion-card-content>
    </ion-card>
    <br>
    

    <ion-card>
      <ion-card-header>
        Consumo durante la semana
      </ion-card-header>
      <ion-card-content>
        <canvas id="lineCanvas"></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
