<ion-header class="ion-no-border">
 <div class="login-header ion-header">
  <img src="../../../assets/icon/lighting3.png" class="logo-img">

</div>
</ion-header>

<ion-content class="ion-padding" >
  <div class="center">
    <div heading-column-lr>
      <h1 big-heading>Registrarse</h1>
     <h2 small-heading routerLink="/login">Iniciar Sesión</h2>
    </div>
    <form (ngSubmit)="singIn()" [formGroup] ="registerForm" >
      <ion-list>
        <ion-item transparent>
          <img icon-small src="../../../assets/icon/FIrstName.png" />
          <ion-input [(ngModel)] = "registerModel.name" placeholder="Nombre" type="text" autocomplete="off" formControlName="firstName" clearInput></ion-input>
        </ion-item>
        <ion-item *ngIf="registerForm.controls['firstName'].touched &&  registerForm.controls['firstName'].invalid">
          <ion-label><strong style="color: red;">El nombre es requerido</strong></ion-label>
        </ion-item>
        <ion-item transparent>
          <img  icon-small src="../../../assets/icon/lastName.png"/>
          <ion-input [(ngModel)] ="registerModel.lastName" placeholder="Apellido" type="text" autocomplete="off" formControlName="lastName" clearInput></ion-input>
        </ion-item>
        <ion-item *ngIf="registerForm.controls['lastName'].touched &&  registerForm.controls['lastName'].invalid">
          <ion-label><strong style="color: red;">El apellido es requerido</strong></ion-label>
        </ion-item>
        <ion-item transparent>
          <img icon-small src="../../../assets/icon/email.png" />
          <ion-input [(ngModel)]="registerModel.userEmail" placeholder="Correo electrónico" autocomplete="off" type="email" formControlName="email" clearInput></ion-input>
        </ion-item>
        <ion-item *ngIf="registerForm.controls['email'].touched &&  registerForm.controls['email'].invalid">
          <ion-label><strong style="color: red;">El email no es válido </strong></ion-label>
        </ion-item>
        <ion-item transparent>
          <img icon-small src="../../../assets/icon/phone-call.png" />
          <ion-input [(ngModel)]="registerModel.userPhoneNumber" placeholder="Numero telefónico" autocomplete="off" type="tel" formControlName="phoneNumber" clearInput></ion-input>
        </ion-item>
        <ion-item *ngIf="registerForm.controls['phoneNumber'].touched &&  registerForm.controls['phoneNumber'].invalid">
          <ion-label><strong style="color: red;">El email no es válido </strong></ion-label>
        </ion-item>
        <ion-item transparent>
          <img icon-small src="../../../assets/icon/password.png" />
          <ion-input [(ngModel)]="registerModel.userPassword" placeholder="Contraseña" autocomplete="off"  type="password" formControlName="password" clearInput></ion-input>
        </ion-item>
        <ion-item *ngIf="registerForm.controls['password'].touched &&  registerForm.controls['password'].invalid">
          <ion-label><strong style="color: red;">La contraseña no es válida </strong></ion-label>
        </ion-item>
        <ion-button color="tertiary" class="ion-button-class" shape="round" fill="solid" size="large" expand="block" type="submit" [disabled]="!registerForm.valid">
         <ion-label class="ion-text-center"><h1>Registrase</h1></ion-label>
        </ion-button>
        <ion-label class="ion-text-center"> ¿Tiene una Cuenta Registrada? <span routerLink="/login"> Inicia Sesión</span></ion-label>
      </ion-list>
    </form>
  </div>
 
  

</ion-content>
