<ion-header class="ion-no-border">
 <div class="login-header ion-header">
  <img src="../../../assets/icon/lighting3.png" class="logo-img">

</div>
</ion-header>

<ion-content class="ion-padding" >
  <div class="center">
    <div heading-column-lr>
      <h1 big-heading>Registrarse</h1>
     <h2 small-heading routerLink="/login">Iniciar Sesión</h2>
    </div>
    <form >
      <ion-list>
        <ion-item transparent>
          <img icon-small src="../../../assets/icon/FIrstName.png" />
          <ion-input [(ngModel)] = "userFirstName" placeholder="Nombre" type="text" name="Namme"></ion-input>
        </ion-item>
        <ion-item transparent>
          <img  icon-small src="../../../assets/icon/FIrstName.png"/>
          <ion-input [(ngModel)] ="userLastName" placeholder="Apellido" type="text" name="lastName"></ion-input>
        </ion-item>
    
        <ion-item transparent>
          <img icon-small src="../../../assets/icon/userIcon.png" />
          <ion-input [(ngModel)]="userName" placeholder="Usuario" type="text" name="user"></ion-input>
        </ion-item>
        <ion-item transparent>
          <img icon-small src="../../../assets/icon/email.png" />
          <ion-input [(ngModel)]="userEmail" placeholder="Correo Electronico" type="email" name="emails"></ion-input>
        </ion-item>
        <ion-item transparent>
          <img icon-small src="../../../assets/icon/email.png" />
          <ion-input [(ngModel)]="userPhoneNumber" placeholder="Numero telefonico" type="text" name="emails"></ion-input>
        </ion-item>
        <ion-item transparent>
          <img icon-small src="../../../assets/icon/password.png" />
          <ion-input [(ngModel)]="userPassword" placeholder="Contraseña" type="password" name="contra"></ion-input>
        </ion-item>
        <ion-button color="primary" class="ion-button-class" shape="round" fill="solid" size="large" expand="block" (click)="singIn()">
          Registrase
        </ion-button>
        <ion-label class="ion-text-center"> ¿Tiene una Cuenta Registrada? <span routerLink="/login"> Inicia Sesión</span></ion-label>
      </ion-list>
    </form>
  </div>
 
  

</ion-content>
