<ion-header class="ion-no-border">
  <div class="login-header ion-header">
    <img src="../../../assets/icon/lighting3.png" class="logo-img">
  </div>
</ion-header>

<ion-content class="ion-padding">
  <div class="center">
    <div heading-column-lr>
      <h1 big-heading>Confirmar Registro</h1>
    </div>
  <form>
    <ion-list>
      <ion-item transparent>
        <img icon-small src="../.../../../../assets/icon/userIcon.png" >
        <ion-input required placeholder="Usuario" type="text" name="nameInput"></ion-input>
      </ion-item>
      <ion-item transparent>
        <img icon-small src="../../../assets/icon/verified-protection.png">
        <ion-input required placeholder="Código de Verificación" name="verificationCode" type="text"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button color="primary" color="primary" class="ion-button-class" shape="round" fill="solid" size="large" expand="block">
      Verificar Mi cuenta
    </ion-button>
  </form>
</div>

</ion-content>
