<ion-header class="ion-no-border">
  <div class="login-header ion-header">
    <img src="../../../assets/icon/lighting3.png" class="logo-img">
  </div>
</ion-header>

<ion-content class="ion-padding">
  <div class="center">
    <div heading-column-lr>
      <h1 big-heading>Confirmar Registro</h1>
    </div>
  <form (ngSubmit)="confirmRegistration()" [formGroup]="confirmRegistrationForm">
    <ion-list>
      <ion-item transparent>
        <img icon-small src="../.../../../../assets/icon/userIcon.png" >
        <ion-input  placeholder="Usuario" [(ngModel)]="confirRegistrationModel.username" type="text" formControlName="userName" clearInput></ion-input>
      </ion-item>
      <ion-item *ngIf="confirmRegistrationForm.controls['userName'].touched && confirmRegistrationForm.controls['userName'].invalid">
        <ion-label style="color: red;">El usuario es Requerido</ion-label>
      </ion-item>
      <ion-item transparent>
        <img icon-small src="../../../assets/icon/verified-protection.png">
        <ion-input [(ngModel)]="confirRegistrationModel.verificationCode" placeholder="Código de Verificación" formControlName="verificationCode" type="password" clearInput></ion-input>
      </ion-item>
      <ion-item *ngIf="confirmRegistrationForm.controls['verificationCode'].touched && confirmRegistrationForm.controls['verificationCode'].invalid">
        <ion-label style="color: red;">El código de Verificación es Requerido</ion-label>
      </ion-item>
      <ion-item *ngIf="this.confirmRegistrationError !=null || this.confirmRegistrationError != undefined">

        <ion-label style="color: red;"> Error AWS : {{this.confirmRegistrationError}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-button color="tertiary"  class="ion-button-class" shape="round" fill="solid" size="large" expand="block" type="submit" >
      <ion-label class="ion-text-center"><h1>Verificar Mi cuenta</h1></ion-label> 
    </ion-button>
  </form>
</div>

</ion-content>
