<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Conexion 1</ion-title>
    <ion-buttons slot="primary">
      <ion-back-button icon="arrow-back-outline"></ion-back-button>
      <ion-button (click)="options('options-conection-one')">
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="selectTime()">
        <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
      </ion-button>
      <ion-buttons slot="end">
        <ion-back-button icon="close-outline"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="container" [fullscreen] ="true" [scrollEvents] ="true" (ionScroll)="logScroll($event)">
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="bubbles"
    refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>
<ion-grid fixed="true" class="intro">
  <ion-row>
    <ion-col size="12" class="centered-text">Consumo Total</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="centered-text">
      <h3>0w</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2">
      <ion-icon slot="start" name="arrow-up-circle" class="arrow-up"></ion-icon>
    </ion-col >
    <ion-col size="6">
      Watts
    </ion-col>
    <ion-col size="2">
      <ion-icon slot="start" name="arrow-down-circle" class="arrow-down"></ion-icon>
    </ion-col>
    <ion-col >
      Amps
    </ion-col>
  </ion-row>
</ion-grid>
<ion-card class="card" fixed="true">
<ion-card-header>
  <ion-card-title>Consumo en tiempo real</ion-card-title>
</ion-card-header>
<ion-card-content>
 <ion-grid>
   <ion-row class="account">
     <ion-col size="12" >
      <ion-item lines="none" >
        <ngx-gauge [type]="gaugeType" 
        [value]="0"   
        [append]="gaugeAppendText" [thresholds]="thresholdConfig" [size]="250" >
       </ngx-gauge>
       </ion-item>
     </ion-col>
     <!-- <ion-col size="3">
       <ion-item lines="none">
        <ion-icon name="bulb-outline"></ion-icon>
        <span class="account-name">Watts</span> 
       </ion-item>         
     </ion-col> -->
     
   </ion-row>
   <ion-row>
     <ion-col size="12">
      <ion-item lines="none">
        <ion-icon name="bulb-outline"></ion-icon>
        <span class="account-name">Watts</span> 
       </ion-item>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-col size="12">
      <ion-item lines="none">
        <ion-icon name="bulb-outline"></ion-icon>
        <span class="account-name">Amps</span> 
       </ion-item>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-card-content>  
</ion-card>
<ion-card class="card" fixed="true">

  <ion-card-header>
      <ion-card-subtitle *ngIf="selected_time=='Mensual'">Este mes</ion-card-subtitle>
      <ion-card-subtitle *ngIf="selected_time=='Trimestral'">Este trimestre</ion-card-subtitle>
      <ion-card-subtitle *ngIf="selected_time=='Anual'">Este año</ion-card-subtitle>
      <ion-card-subtitle *ngIf="selected_time=='Semanal'">Ultimos 7 dias</ion-card-subtitle>
      <ion-card-title>Graficos de consumo</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="ion-align-self-center">
          <ion-item lines="none">
            <canvas>

            </canvas>
          </ion-item>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" class="ion-align-self-center">
          Estudio ..
        </ion-col>
        <ion-col size="7" class="ion-align-self-center">
          <p>AAAAAAA</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5" class="ion-align-self-center">
          <span id="valor"></span>
        </ion-col>
        <ion-col size="7" class="ion-align-self-center">
          <p class="healthy-text" *ngIf="healthy>=20 && healthy<=50">Excelente</p>
          <p class="healthy-text" *ngIf="healthy>50"> Excelente2</p>
          <p class="healthy-text" *ngIf="healthy<20 && healthy>0">Excelente3</p>
          <p class="healthy-text" *ngIf="healthy==0">Excelente4</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card-content>
</ion-card>
</ion-content>


