.container{
    --ion-background-color:#e5e5e5;
}
h3{
    font-family: "Heebo-Bold" !important;
    font-size: 40px;
}   

.intro{
    padding: 5%;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.centered-text{
    text-align: center;
}