<ion-content>
  <ion-slides pager="true">
    <!--Primer Slide, Introduccion-->
    <ion-slide *ngFor="let slide of slides">
      <div class="slide-img-padding">
      <img [src]="slide.img" alt="image">
    </div>
    <div>
      <h3 [innerHTML]="slide.title"></h3>
    </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10 " offset="1">
        <ion-button color="primary" expand="full" shape="round" mode="ios" class="btn-primary" (click) ="goSingUpPage()">
          Registrarse
        </ion-button>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10 " offset="1">
        <ion-button color="secondary" expand="full" shape="round" mode="ios" class="btn-primary" (click)="goLoginPage()">
         <ion-label color="dark">Inicar Sesion</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
