<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Configuracion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="bubbles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <form [formGroup]="AddConnectionScheduleForm" (ngSubmit)="addConfiguration()">
    <ion-item>
      <ion-label position="floating"> Nombre de Configuracion<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="configurationTitle" [(ngModel)]="this.configConnectionModel.configurationTitle" type="text"></ion-input>
    </ion-item>
    <ion-item lines="none" transparent *ngIf="AddConnectionScheduleForm.controls['configurationTitle'].touched && AddConnectionScheduleForm.controls['configurationTitle'].invalid">
      <ion-label style="color: red;">El valor es requerido o es invalido</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Hora Inicial<ion-text color="danger">*</ion-text></ion-label>
      <ion-datetime  formControlName="InitialTime" placeholder="Seleccione la hora inicial" [(ngModel)]="this.configConnectionModel.InitialTime" display-format="h:mm A" picker-format="h:mm A"></ion-datetime>
    </ion-item>
    <ion-item lines="none" transparent *ngIf="AddConnectionScheduleForm.controls['InitialTime'].touched && AddConnectionScheduleForm.controls['InitialTime'].invalid">
      <ion-label style="color: red;">El valor es requerido o es invalido</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Hora Final<ion-text color="danger">*</ion-text></ion-label>
      <ion-datetime  formControlName="FinalTime" placeholder="Seleccione la hora final" [(ngModel)]="this.configConnectionModel.FinalTime" display-format="h:mm A" picker-format="h:mm A"></ion-datetime>
    </ion-item>
    <ion-item lines="none" transparent *ngIf="AddConnectionScheduleForm.controls['FinalTime'].touched && AddConnectionScheduleForm.controls['FinalTime'].invalid">
      <ion-label style="color: red;">El valor es requerido o es invalido</ion-label>
    </ion-item>
    <ion-item>
      <ion-label > Estatus<ion-text color="danger">*</ion-text></ion-label>
      <ion-toggle slot="end"  formControlName="isActive" [(ngModel)]="this.configConnectionModel.isActive"></ion-toggle>
    </ion-item>
    <ion-item lines="none" transparent *ngIf="AddConnectionScheduleForm.controls['isActive'].touched && AddConnectionScheduleForm.controls['isActive'].invalid">
      <ion-label style="color: red;">El valor es requerido o es invalido</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Dias<ion-text color="danger">*</ion-text></ion-label>
      <ion-select  multiple="true" placeholder="Seleccionar Dias"  [cancelText]="ionSelecNameCancel" [okText]="ionSelecNameOk" formControlName="configurationDays" [(ngModel)]="this.configConnectionModel.days" ngDefaultControl>
        <ion-select-option *ngFor="let item of this.allDays" [value]="item.dayName">{{item.dayName}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none" transparent *ngIf="AddConnectionScheduleForm.controls['configurationDays'].touched && AddConnectionScheduleForm.controls['configurationDays'].invalid">
      <ion-label style="color: red;">El valor es requerido o es invalido</ion-label>
    </ion-item>
    <ion-button block color="secondary" type="submit" [disabled]="!AddConnectionScheduleForm.invalid">
      Agregar Configuracion
    </ion-button>
  </form>


</ion-content>
