
 <ion-toolbar color="darkbar ion-no-border">
   <ion-buttons slot="start">
     <ion-button fill="solid" class="ion-button icon-only">
      <ion-icon slot="start" name="close"></ion-icon>
     </ion-button>
   </ion-buttons>
   <ion-title>Mi cuenta</ion-title>
  <ion-buttons slot="end">
    <ion-button color="danger" (click)="singOut()">
      Cerrar Sesión
    </ion-button>
  </ion-buttons>
 </ion-toolbar>
<ion-content class="ion-padding">
  <form [formGroup] = "myAccountForm">
    <ion-list class="ion-padding">
      <ion-item transparent >
        <ion-label position="floating" color="black">Usuario</ion-label>
        <!-- <img icon-small src="../../../assets/icon/userIcon.png" alt=""> -->
        <ion-input [disabled]="disableAllFormsControls" type="text" name="UserName" [ngModel]="myAccountModel.email" formControlName="userName"></ion-input>
      </ion-item>
      <ion-item transparent>
        <ion-label position="floating" color="black">Nombre</ion-label>
        <ion-input disabled="{{disableAllFormsControls}}" placeholder="Nombre" type="text" name="Namme" [ngModel] = "myAccountModel.name" formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item transparent>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input [disabled]="disableAllFormsControls" type="text" name="Apellido" [ngModel] = "myAccountModel.family_name" formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item transparent>
        <ion-label >Email Verificado?</ion-label>
        <ion-checkbox slot="end" [disabled]="disableAllFormsControls" [ngModel]="myAccountModel.email_verified || false" formControlName="email_verified" ></ion-checkbox>
      </ion-item>
      <ion-item transparent>
        <ion-label position="floating">Telefono Movil</ion-label>
        <ion-input [disabled]="disableAllFormsControls" type="text" name="Telefono" [ngModel] = "myAccountModel.phone_number" formControlName="phone_number"></ion-input>
      </ion-item>
      <ion-item transparent>
        <ion-row>
          <ion-col size="6" *ngIf="showSaveButton == true">
            <ion-button color="warning" (click)="saveEdit()">
              <ion-icon slot="start" expand="full" name="save-outline"  ></ion-icon>
              Guardar
            </ion-button>
          </ion-col>
          <ion-col size="6" *ngIf="showEditButton == true">
            <ion-button  color="tertiary" (click)="editData()" >
              <ion-icon slot="start" expand="full" name="create-outline" ></ion-icon>
              Editar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <!-- <ion-item transparent>
        <img icon-small src="../../../assets/icon/FIrstName.png" >
        <ion-input [disabled]="true" placeholder="Apellido" type="text"  [ngModel]="myAccountModel.family_name"></ion-input>

      </ion-item> -->
      
      <!-- <ion-item transparent>
        <img icon-small src="../../../assets/icon/email.png" />
        <ion-input [disabled]="true" placeholder="Correo Electronico" type="email" name="emails"></ion-input>
      </ion-item> -->
    </ion-list>
  </form>

</ion-content>
<!-- <ion-footer >
  <ion-toolbar color="darkbar">
    <ion-row>
      <ion-col class="ion-no-padding">
        <button  class="ion-button block clear icon-left">
          <ion-icon name="person-outline"></ion-icon> Actualizar Perfil
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block clear icon-left color="primary-alt">
          <ion-icon name="exit"></ion-icon> Move
        </button>

      </ion-col>
      <ion-col no-padding>
        <button ion-button block clear icon-left color="primary-alt">
          <ion-icon name="trash"></ion-icon> Delete
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-footer> -->
<!-- C:\Users\claud\OneDrive\Documentos\GitHub\MobileTesisProject--Ionic\lightArduino\src\assets\icon -->