<ion-toolbar color="light" class="ion-no-border">
  <ion-buttons slot="start">
    <ion-button (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Configuración</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="singOut()" color="danger">
      Cerrar Sesión
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
</ion-content>
