<ion-toolbar color="darkbar" class="ion-no-border">
  <ion-buttons slot="start">
    <ion-button fill="solid" class="ion-button icon-only">
     <ion-icon slot="start" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Mi Dispositivo</ion-title>
  <ion-buttons slot="end">
    <ion-button color="danger" (click)="singOut()">
      Cerrar Sesión
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content class="ion-padding">
  <form [formGroup]="myDeviceFormGroup" (ngSubmit)="editMyDevice()">
    <ion-list>
    <ion-item lines="none" transparent>
      <ion-label position="floating">Nombre de Dispositivo</ion-label>
      <ion-input type="text" required [(ngModel)]="this.ConfigDeviceModel.deviceId"  formControlName="deviceName"></ion-input>
    </ion-item>
    <ion-item lines="none" transparent>
      <ion-label position="floating">Usuario del dispositivo</ion-label>
      <ion-input type="text" required [(ngModel)]="this.userDevice"  formControlName="deviceOwner"></ion-input>
    </ion-item>
    <ion-item lines="none" transparent>
      <ion-label position="floating">Fecha de Registro</ion-label>
      <ion-datetime display-format="DD.MM.YYYY HH:mm" [(ngModel)]="this.ConfigDeviceModel.registeredAt"></ion-datetime>
    </ion-item>
    <ion-item lines="none" transparent>
      <ion-label position="floating">Estatus</ion-label>
      <ion-toggle slot="end" [(ngModel)]="this.ConfigDeviceModel.status"></ion-toggle>
    </ion-item>
    <ion-item lines="none" transparent>
      <ion-label position="floating">Cantidad de Conexiones asociadas al dispositivo</ion-label>
      <ion-input type="text" required [(ngModel)]="this.userDevice"  formControlName="deviceOwner"></ion-input>
    </ion-item>
  </ion-list>

  </form>
</ion-content>
