<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Estadisticos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="container">
  <ion-card class="card" fixed="true" (click)="go('connection-one-consumptions')">
    <ion-card-header>
      
      <ion-card-title>Consumos anuales,mensuales y semanales</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="card" fixed="true" (click)="go('connection-one-consumption-evolution')">
    <ion-card-header>
      
      <ion-card-title>Evolucion de Consumos</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="card" fixed="true" (click)="go('connection-one-consumption-comparative')">
    <ion-card-header>
      
      <ion-card-title>Predecir Consumo</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
