<ion-header class="ion-no-border">
  <div class="login-header ion-header">
    <img src="../../../assets/icon/lighting3.png" alt="logo-img" class="logo-img"></div>
</ion-header>
<ion-content class="ion-padding">
  <div class="center2">
    <div heading-column-lr>
      <h1 big-heading>Cambio de constraseña</h1>
    </div>
  </div>
  <form  (ngSubmit)="resetPassword()" [formGroup]="resertPasswordForm">
    <ion-list>
      <ion-item>
       <img icon-small src="../../../assets/icon/email.png" />
       <ion-input type="email" [(ngModel)]="resetPasswordModel.userEmail" aria-autocomplete="off" placeholder="Usuario" formControlName="email" clearInput></ion-input>
      </ion-item>
      <ion-item *ngIf="resertPasswordForm.controls['email'].touched && resertPasswordForm.controls['email'].invalid">
        <ion-label style="color: red;">Por favor ingrese un correo válido</ion-label>
      </ion-item>
        <ion-button color="tertiary" class="ion-button-class" shape="round" mode="ios" fill="solid" size="large" expand="block" type="submit" [disabled]="!resertPasswordForm.valid">
          <ion-label class="ion-text-center"><h1>Solicitar Cambio de Contraseña</h1></ion-label>
        </ion-button>
        <ion-item *ngIf="this.userError != null || this.userError != undefined">  
          <ion-label > <strong style="color: red;">Error de AWS Cognito : {{this.userError}}</strong> </ion-label>
        </ion-item>
    </ion-list>
  </form>


</ion-content>